<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" version="1.0.0" viewmodes="maximized">
  <tizen:application id="3zU0PBCFvA.BasicTestWITs" package="3zU0PBCFvA" required_version="2.3"/>
  <name>BasicTest1</name>
  <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
  <icon src="icon.png"/>
  <content src="index.html"/>
  <tizen:privilege name="http://tizen.org/privilege/tv.window"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
  <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
  <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
  <access origin="*" subdomains="true"/>
</widget>